# Ignore macOS finder stores
.DS_Store

# Ignore a subproject
Route-Planning-Project

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
test/test
17_Override/override
16_PolymorphismOverriding/poly
15_Virtual/virtual
21_TemplateDeduction/deduce
20_Templates/templates
19_MulipleInheritance/multi
14_OperatorOverloading2/operator2
13_OperatorOverloading/operator
12_Friends/friends
11_Composition/vectors
11_Composition/composition
22_ClassTemplate/templates
